*{

}
.header-color{
   background: #e96443;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #904e95, #e96443);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #904e95, #e96443); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.landing-grid{
  background: #e96443;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #904e95, #e96443);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #904e95, #e96443); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
text-align: center;
position: fixed;
top: 0;
left: 0;
width: 100%;
height: 100%;
}
.myimage{
  padding:auto;
  height: 200px;
  width: 200px;
  border-radius: 70%;
  margin-top: 5em;
  
  
}
.banner-text{
  background-color: black;
  width: 75%;
  opacity: .8;
  margin: auto;
  border-radius: 10px;
}
.banner-text h1{
  font-size: 50px;
  color: white;
  font-weight: bold;
  text-align: center;
}

.banner-text hr{
  border-top: 5px dotted white;
  width:50%;
  margin:auto;
}

.banner-text P{
  color: white;
  padding: 1em;
  font-size:20px;
  text-align: center;
}

  .social-links{
    display: flex;
    justify-content: space-between;
    width: 50%;
    margin: auto;
  }
  .social-links i{
    font-size: 5em;
    color: white;
    padding: 8px;

  }
  .contact-body{
    width:100%;
    height:100%;
  
    justify-content: center;
    margin: auto;
    padding-top: 2em;
    position: fixed;
  }
  .contact-grid{
    text-align: center;
    background: white;
   
    width:80%;
    color: black;
    height:500px;
    justify-content: center;
    margin-bottom: 20px
  }
  .contact-grid p{
  font-family: 'Permanent Marker', cursive;
  font-weight: bold;
  padding-top: 5em;
  width: 75%;
  margin: auto;
  }
  .contact-grid hr{
    border-top:5px dotted black;
    width:50%;
    margin:auto;
  }

  .contact-grid h2{
    font-family: 'Anton', sans-serif;
    font-weight: bold;
  }
  .contact-list i  {
    font-size: 66px;
    padding-right: 5rem;
  }

  /* resume css */
.resume-right-col{
  background: black;
  color:white;
  padding:2em;
  
}
.sea{
  height:50vh;
  width: 100%;
  display: cover;
}

.aboutme p{
  font-size: 19px; 
  font-family: 'Great Vibes', cursive;
}
.aboutme h1{
  font-family: 'Butterfly Kids', cursive;
  font-size: 44px;
}

.containerproject{
  padding-top: 3rem;
}